---
title: Events
---

  Here is a list of both recent and upcoming events.  Please check this page frequently as event dates get closer.
  
  <p class="header">Upcoming Events</p>       
       
  <p>
  <b>Holiday Recital 2015</b><br/>
  Date and Location: TBD<br/>
  </p>
  
  
  <p class="header">Past Events</p>

  {% for event in site.categories.event %}
  
  <p>
  {% if event.nolink %}
  {{ event.title }}
  {% else %}
  <a class="post-link" href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
  {% endif %}
  <br/>
  <em>{{event.location}}
  <br/>
{% assign d = event.date | date: "%-d"  %}
{{ event.date | date: "%B" }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}{{ event.date | date: ", %Y" }}
  </em></p>
  
  {% endfor %}
